#włączenie mod_rewrite
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Klient
RewriteRule ^Klient/?$ index.php?controller=Klient [L]
RewriteRule ^Klient/add-form/?$ index.php?controller=Klient&action=addform [L]
RewriteRule ^Klient/add/?$ index.php?controller=Klient&action=add [L]

RewriteRule ^Klient/edit/(\d+)/?$ index.php?controller=Klient&action=editform&id=$1 [L]
RewriteRule ^Klient/update/?$ index.php?controller=Klient&action=update [L]
RewriteRule ^Klient/delete/(\d+)/?$ index.php?controller=Klient&action=delete&id=$1 [L]

#Logowanie
RewriteRule ^access/logform/?$ index.php?controller=Access&action=logform [L]
RewriteRule ^access/login/?$ index.php?controller=Access&action=login [L]
RewriteRule ^access/logout/?$ index.php?controller=Access&action=logout [L]

#Samochod
RewriteRule ^Samochod/?$ index.php?controller=Samochod [L]
RewriteRule ^Samochod/add-form/?$ index.php?controller=Samochod&action=addform [L]
RewriteRule ^Samochod/wstaw/?$ index.php?controller=Samochod&action=add [L]
RewriteRule ^Samochod/Dostepnosc/(\d+)/?$ index.php?controller=Samochod&action=DostepnoscModelu&id=$1 [L]


#Zamowienie
RewriteRule ^Zamowienie/?$ index.php?controller=Zamowienie [L]
RewriteRule ^Zamowienie/add-form/?$ index.php?controller=Zamowienie&action=addform [L]
RewriteRule ^Zamowienie/edit-form/(\d+)/?$ index.php?controller=Zamowienie&action=editform&id=$1 [L]
RewriteRule ^Zamowienie/wstaw/?$ index.php?controller=Zamowienie&action=add [L]
RewriteRule ^Zamowienie/delete/(\d+)/?$ index.php?controller=Zamowienie&action=delete&id=$1 [L]

RewriteRule ^Zamowienie/status/?$ index.php?controller=Zamowienie&action=sprawdzStatus [L]

RewriteRule ^Zamowienie/sprawdz/?$ index.php?controller=Zamowienie&action=sprawdz [L]

#Silnik
RewriteRule ^Silnik/(\d+)/?$ index.php?controller=Silnik&action=getAll&id=$1 [L]

#Skrzynia
RewriteRule ^Skrzynia/(\d+)/?$ index.php?controller=Skrzynia&action=getAll&id=$1 [L]

#Lakier
RewriteRule ^Lakier/(\d+)/?$ index.php?controller=Lakier&action=getAll&id=$1 [L]

#Naped
RewriteRule ^Naped/(\d+)/?$ index.php?controller=Naped&action=getAll&id=$1 [L]

#Reflektory
RewriteRule ^Reflektory/(\d+)/?$ index.php?controller=Reflektor&action=getAll&id=$1 [L]

#Podsumowanie
RewriteRule ^Podsumowanie/?$ index.php?controller=Podsumowanie&action=getAll [L]

#Konfigurator
RewriteRule ^Konfigurator/zapisz/?$ index.php?controller=Konfigurator&action=addConfig [L]
RewriteRule ^Konfigurator/?$ index.php?controller=Konfigurator&action=loadConfig [L]
RewriteRule ^Konfigurator/wczytaj?$ index.php?controller=Konfigurator&action=getConfig [L]

#Pracownik
RewriteRule ^Pracownik/?$ index.php?controller=Pracownik [L]
RewriteRule ^Pracownik/add-form/?$ index.php?controller=Pracownik&action=addform [L]
RewriteRule ^Pracownik/add/?$ index.php?controller=Pracownik&action=add [L]

RewriteRule ^Pracownik/edit/(\d+)/?$ index.php?controller=Pracownik&action=editform&id=$1 [L]
RewriteRule ^Pracownik/update/?$ index.php?controller=Pracownik&action=update [L]
RewriteRule ^Pracownik/delete/(\d+)/?$ index.php?controller=Pracownik&action=delete&id=$1 [L]

#Uslugi
RewriteRule ^Uslugi/?$ index.php?controller=Uslugi [L]
RewriteRule ^Uslugi/add-form/?$ index.php?controller=Uslugi&action=addform [L]
RewriteRule ^Uslugi/add/?$ index.php?controller=Uslugi&action=add [L]

RewriteRule ^Uslugi/edit/(\d+)/?$ index.php?controller=Uslugi&action=editform&id=$1 [L]
RewriteRule ^Uslugi/update/?$ index.php?controller=Uslugi&action=update [L]
RewriteRule ^Uslugi/delete/(\d+)/?$ index.php?controller=Uslugi&action=delete&id=$1 [L]

#UslugiKlient
RewriteRule ^UslugiKlient/?$ index.php?controller=UslugiKlient [L]
RewriteRule ^UslugiKlient/add-form/?$ index.php?controller=UslugiKlient&action=addform [L]
RewriteRule ^UslugiKlient/add/?$ index.php?controller=UslugiKlient&action=add [L]

RewriteRule ^UslugiKlient/edit/(\d+)/?$ index.php?controller=UslugiKlient&action=editform&id=$1 [L]
RewriteRule ^UslugiKlient/update/?$ index.php?controller=UslugiKlient&action=update [L]
RewriteRule ^UslugiKlient/delete/(\d+)/?$ index.php?controller=UslugiKlient&action=delete&id=$1 [L]

#Parking
RewriteRule ^Parking/?$ index.php?controller=Parking [L]
RewriteRule ^Parking/add-form/?$ index.php?controller=Parking&action=addform [L]
RewriteRule ^Parking/add/?$ index.php?controller=Parking&action=add [L]

RewriteRule ^Parking/edit/(\d+)/?$ index.php?controller=Parking&action=editform&id=$1 [L]
RewriteRule ^Parking/update/?$ index.php?controller=Parking&action=update [L]
RewriteRule ^Parking/delete/(\d+)/?$ index.php?controller=Parking&action=delete&id=$1 [L]

#Terminarz
RewriteRule ^Terminarz/?$ index.php?controller=Terminarz&action=getCalendar [L]

#KlientSamochod
RewriteRule ^Klient/samochody/(\d+)/?$ index.php?controller=KlientSamochod&action=getOne&id=$1 [L]

#Odbiory
RewriteRule ^Odbiory/?$ index.php?controller=Odbior&action=getAll [L]
RewriteRule ^Odbior/add?$ index.php?controller=Odbior&action=add [L]
RewriteRule ^Odbior/edytuj/(\d+)/?$ index.php?controller=odbior&action=update&id=$1 [L]

RewriteRule ^Odbiory/edit/(\d+)/?$ index.php?controller=odbior&action=editform&id=$1 [L]
RewriteRule ^Odbiory/update/?$ index.php?controller=odbior&action=update [L]
RewriteRule ^Odbiory/delete/(\d+)/?$ index.php?controller=odbior&action=delete&id=$1 [L]

#Serwis
RewriteRule ^UslugaSerwis/?$ index.php?controller=UslugaSerwis&action=getAll [L]
RewriteRule ^UslugaSerwis/add?$ index.php?controller=UslugaSerwis&action=add [L]
RewriteRule ^UslugaSerwis/ukoncz/(\d+)/?$ index.php?controller=UslugaSerwis&action=update&id=$1 [L]
#Error
ErrorDocument 404 http://localhost/Projekt_Zespolowy/errors/404.html


#Strona

RewriteRule ^Strona/?$ index.php?controller=Strona&action=getAll [L]
RewriteRule ^Golf/?$ index.php?controller=Strona&action=Golf [L]
RewriteRule ^Arteon/?$ index.php?controller=Strona&action=Arteon [L]
RewriteRule ^Tiguan/?$ index.php?controller=Strona&action=Tiguan [L]

#Kalkulator

RewriteRule ^Kalkulator/?$ index.php?controller=Kalkulator&action=get [L]



