#włączenie mod_rewrite
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Klient
RewriteRule ^Klient/?$ index.php?controller=Klient [L]
RewriteRule ^Klient/add-form/?$ index.php?controller=Klient&action=addform [L]
RewriteRule ^Klient/add/?$ index.php?controller=Klient&action=add [L]

RewriteRule ^Klient/edit/(\d+)/?$ index.php?controller=Klient&action=editform&id=$1 [L]
RewriteRule ^Klient/update/?$ index.php?controller=Klient&action=update [L]
RewriteRule ^Klient/delete/(\d+)/?$ index.php?controller=Klient&action=delete&id=$1 [L]

#Logowanie
RewriteRule ^access/logform/?$ index.php?controller=Access&action=logform [L]
RewriteRule ^access/login/?$ index.php?controller=Access&action=login [L]
RewriteRule ^access/logout/?$ index.php?controller=Access&action=logout [L]

#Samochod
RewriteRule ^Samochod/add-form/?$ index.php?controller=Samochod&action=addform [L]


#Error
ErrorDocument 404 http://localhost/Projekt_Zespolowy/errors/404.html


